*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
/* Utility */

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hearts{
    font-size: 150%;
    background-color: white;
    padding: 1% 2.5%;
    top: 5%;
    right: 0;
}
.et-sconto{
    background-color: red;
    color: white;
    padding: 4px;
    font-size: 11px;
    left: 0;
    top: 85%;
}
.et-sost{
    background-color: green;
    color: white;
    padding: 4px;
    font-size: 11px;
    top: 85%;
    left: 0;
}
.left-10{
    left: 10%;
}
.color-red{
    color: red;
}
.barrato{
    text-decoration: line-through;
}
.fontsize-piccola{
    font-size: 14px;
}
header{
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: fit-content;
    max-height: fit-content;
    z-index: 1;
}
header section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}
main section > div{
    flex-basis: calc(95%/3);
}
.container1{
    width: 80%;
    margin: 0 auto;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.container2{
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}
.top-img{
    left: 0;
    top: 0;
    opacity: 0;
}
.top-img:hover{
    opacity: 1;
}
footer{
    background-color: #1A1A1A;
}
footer section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2%;
}
footer section div:nth-child(2){
    text-align: center;
}
